        <main>
            <div class="containe_form mx-auto">
                
                <form class="formulario" action="/formulario" method="POST">
                    <h2>Conte-nos sua experiência!</h2>
                    <div>
                        <label for="lugar"> Lugar:</label>
                        <input type="text" id="lugar" required>
                    </div>
                    <div>
                        <label for="descrição">Descrição:</label>
                        <input type="text" id="descrição" required>
                    </div>
                    <div>
                        <label for="localização">Localização:</label>
                        <input type="text" id="localização" required>
                    </div>
                    <div>
                        <label for="atividades">Atividades:</label>
                        <input type="text" id="atividades" required>
                    </div>
                    <div>
                        <label for="estrutura">Estrutura:</label>
                        <input type="text" id="estrutura" required>
                    </div>
                    <div>
                        <label for="imagem">Imagem:</label>
                        <input type="text" id="imagem" required>
                    </div>
                    <span class="container_btn">
                        <button  class="btn" type="submit"><b>Cadastrar</b></button>
                    </span>
                </form>
                <div class="img">
                     <img src="/img/Trip-pana.png" alt="formulario" width="400">
                </div>
            </div>
        </main>
