        <main>
            <div class="containe_form">
                <form class="formulario">
                    <h2>Conte-nos sua esperiência!</h2>
                    <div>
                        <label for="lugar"> Lugar:</label>
                        <input type="txt" id="lugar">
                    </div>
                    <div>
                        <label for="descrição">Descrição:</label>
                        <input type="txt" id="descrição">
                    </div>
                    <div>
                        <label for="localização">Localização:</label>
                        <input type="txt" id="localização">
                    </div>
                    <div>
                        <label for="preço">Preço:</label>
                        <input type="text" id="preço">
                    </div>
                    <div>
                        <label for="atividades">Atividades:</label>
                        <input type="txt" id="atividades">
                    </div>
                    <div>
                        <label for="estrutura">Estrutura:</label>
                        <input type="txt" id="estrutura">
                    </div>
                    <div>
                        <label for="imagem">Imagem:</label>
                        <input type="file" id="imagem">
                    </div>
                    <span class="container_btn">
                        <button  class="btn" type="submit"><b>Cadastrar</b></button>
                    </span>
                </form>
                <div class="img">
                     <img src="/img/Trip-pana.png" alt="formulario" width="400">
                </div>
            </div>
        </main>
