
 <main>
    <section> 
        <div class="card card__detalhes" style="width: 35rem;">
            <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            <img src="IMG/viagem1.jpg" class="card-img-top" alt="imagem-viagem">
            <div class="card-body">
              <h5 class="card-title">NOME DO LUGAR</h5>
              <p class="card-text">FRASE DE DESTAQUE DO LOCAL</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Descrição: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil nisi magni unde doloribus incidunt quibusdam voluptate odit, reiciendis animi necessitatibus.</li>
              <li class="list-group-item">Localização: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, culpa!</li>
              <li class="list-group-item">Estrutura: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet, nobis.</li>
              <li class="list-group-item">Cultura e Lazer: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium, quod!</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Voltar</a>
              <a href="#" class="card-link">Editar</a>
              <a href="#" class="card-link">Apagar</a>
            </div>
          </div>
</section>
 </main>
 
