<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/main.css">
    <title>Descobrindo Rotas</title>
</head>
<header>
    <div class="container__header">
        <div class="logo__header">
            <img src="img/logo.png" alt="">
            <h1>Descobrindo Rotas</h1>
            <div class="logo__txt">
                <p>
                    Aprenda a descobrir o que é o que é.
                </p>
            </div>
        </div>
        <div class="container__header">
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/cadastrar">Conte sua experiência</a></li>
            <li><a href="/sobre">Fale conosco</a></li>
        </ul>
    </nav>
</div>

</header>
<body>
 <main>
    <section> 
    <div class="card__detalhes">
                 
        <img class="card__img" src="IMG/viagem1.jpg" alt="">
     
     <div class="card__txt">
     <ul>
        <li class="topico">Descrição </li>
        <p class="txt">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore fugiat possimus corporis enim, placeat esse?</p>
        <br>
        <li class="topico">Localização </li>
        <p class="txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <br>
        <li class="topico">Estrutura </li>
        <p class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, excepturi!</p>
        <br>
        <li class="topico">Cultura e Lazer</li>
        <p class="txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, quae?</p>
    </ul>
     </div>
    </div>
</section>
 </main>
</body>

</html>