<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CSS/main.css">
        <title>Descobrindo</title>
    </head>
    <header>
        <div class="container__header">
            <div class="logo__header">
                <img id="img" src="img/header.jpeg" alt="Imagem da logo" width="100%">
                <div id="txt">
                    <h1>Descobrindo Rotas</h1>
                    <p>Descubra e Troque Novas Experiências de Viagem.</p>
                </div>
            </div>
            <nav>
                <ul class="container__nav">
                    <li><a href="/">Início</a></li>
                    <li><a href="/cadastrar">Conte sua experiência</a></li>
                    <li><a href="/sobre">Fale conosco</a></li>
                </ul>
            </nav>   
        </div>
    </header>
    <body>
        <main>
            <div class="container_carousel">
                <img src="" alt="carrossel">
            </div>
        </main>
        <footer>
            <p class="copyright">&copy;Descubrindo Rotas | Todos os direitos reservados - 2022</p>
        </footer>
    </body>

</html>