@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@media only screen and(max-width: 900px) {
    .containe_form {
        flex-wrap: wrap !important;
        flex-direction: column;
    }
}

* {
    margin: 0;
    padding: 0;
}

.containe_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(108, 172, 120);*/
    gap: 25px;
    font-family: Ubuntu;
    color: rgb(68,145,169);
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.containe_form_editar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*0background-color: rgb(56, 140, 165);*/
    gap: 25px;
    font-family: Ubuntu;
    color: rgb(123,176,134);
    padding-top: 8rem;
    padding-bottom: 3rem;

}

.formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.formulario div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario div input {
    margin: 8px;
    width: 180px;
    background-color: white;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.container_btn {
    display: flex;
    justify-content: center;

}

/* .btn {
    border-radius: 5px;
    border: none;
    font-family: Ubuntu;
    padding: 8px;
    margin-top: 15px;
    background-color: rgb(4, 99, 161);
    color: white;
} */

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(4, 99, 161);
}