@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


.card__detalhes{
    border: 5px solid transparent;
    margin-top: 5em;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.card__img{
    width: 40em;
    height: 30em; 

}

.card__txt{
    background-color: darkgrey;
}

.topico{
    display: flex;
    font-size: 2em;
    margin: 10px ;
    color: blue;
    list-style-type: disc;
    list-style-position: inside;
      
}

.txt{
    display: flex;
    font-size: 1em;
    color: #ffffff;
}


