@import 'cadastrar.css';
@import 'sobre.css';
@import 'detalhes.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.bg-body{
    background: #e4e6e3;
}

/* .img-carousel{
    align-items: center;
    justify-content: center;
} */

.img-carousel{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Futura Md Bt;
    background-color: rgb(43, 41, 41);
    color: white;
}
